.plusList {
    width: 44px;
    height: 44px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(166.82deg, rgb(255, 199, 39) -125.559%,rgb(158, 64, 186) 181.695%,rgb(112, 0, 255) 327.061%);
    box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 40px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    animation: pulse 1s infinite;
}

.plusList:hover {
    animation: none;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 20px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }